/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; /* gives gentle padding around body */
}

.header {
  height: 95vh; /* covers 95% of viewport height*/
  background-image: 
      /* using gradient before url will stack both images on top of each other */
    linear-gradient(to right bottom,
      #7ed56fc0, #28b485bb
    ), 
    url('../img/hero.jpg');
  background-size: cover; /* will always try and fit background inside the element*/
  background-position: top; /* ensures background image always starts on top of element*/
  position: relative;

  clip-path: 
    /* sets 4 coordinates to determine visibility of element using 4 xy points */
    polygon(
      0 0, /* top left: 0,0 because we don't want to move that coord. it should stay the same */
      100% 0, /* this sets second point all the way to right from first point 100,0 */
      100% 75vh, /* sets 3rd point 100% right and 75% down from y axis */
      0 100% /* sets 4th point 0x, 100% Y for bottom left */
    )
}

.logo-box {
  position: absolute;
  /* top and left need parent element to be relative to use as a reference */
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%); /* 40% compensates for wedge */
    /* the transform shifts based on the element itself rather than parent. 
    * the 50/50% ensures the new "center" is not top left of element, but now actual center
    */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* fixes shakey animation issue */
}

.heading-primary-main {
  display: block; /* use as block-level to take up whoel width and line break before/after */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-iteration-count: 3; repeats animation repeatedly*/
}

.heading-primary-sub {
  display: block; /* use as block-level to take up whoel width and line break before/after */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}