
.header {
  height: 95vh; // covers 95% of viewport height
  background-image: 
      // using gradient before url will stack both images on top of each other
    linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)
    ), 
    url('../img/hero.jpg');
  background-size: cover;   // will always try and fit background inside the element
  background-position: top; // ensures background image always starts on top of element
  position: relative;

  clip-path: 
    // sets 4 coordinates to determine visibility of element using 4 xy points
    polygon(
      0 0,        /* top left: 0,0 we don't want to move that coord. should stay the same */
      100% 0,     /* second point all the way to right from first point 100,0 */
      100% 75vh,  /* sets 3rd point 100% right and 75% down from y axis */
      0 100%      /* sets 4th point 0x, 100% Y for bottom left */
    )

    &__logo-box {
      position: absolute; //top and left need parent element to be relative to use as a reference
      top: 4rem;
      left: 4rem;
    }

    &__logo {
      height: 35px;
    }
    
    &__text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -40%); // 40% compensates for wedge
        /* the transform shifts based on the element itself rather than parent. 
        * the 50/50% ensures the new "center" is not top left of element, but now actual center
        */
    }
}
